{% extends 'core/layout.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/event-detail.css' %}">
{% endblock %}
{% block content %}
<div class="event-content">
  <img src="{{event.banner.url}}" alt="banner" class="event-banner">
  <div class="event-details">
    <div class="event-title">{{event.event_title}}</div>
    <div class="event-desc">{{event.event_description}}</div>
    <div class="event-date">{{event.date}} {{event.time}}</div>
    <div class="notif">
      <a class="notif-link" href="{% url 'edit_event' event.id %}">Edit Event</a>
      <table class="event-table">
        <tr>
          <td colspan="4" class="event-head">
            EVENT UPDATES
          </td>
        </tr>
        <tr>
          <th>Event</th>
          <th>Update</th>
          <th>Time</th>
          <th>View Count</th>
        </tr>
        {% for i in notifications %}
        <tr>
          <td>{{i.notification_title}}</td>
          <td>{{i.notification_description}}</td>
          <td>{{i.notification_datetime}}</td>
          <td>{{i.viewers.count}}</td>
        </tr>
        {% endfor %}
      </table>
      <a href="{% url 'create_notification' event.id %}">Create Notification<a>
      <table class="event-table" style="margin-top: 10px;">
        <tr>
          <td class="event-head">
            PARTICIPANTS
          </td>
        </tr>
        {% for i in event.participants.all %}
        <tr>
          <td>{{i.user_name}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</div>
{% endblock %}